{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta name = "viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA Compatible" content="ie=edge">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	  <link href='https://fonts.googleapis.com/css?family=Concert+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link async href="http://fonts.googleapis.com/css?family=Fredoka%20One" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
	  <title>
	  	{% block title %}
	  		<!-- title goes here -->
	  	{% endblock %}
	  </title>
	</head>
	<body>
	    <header>
	        {% include "dashboard/partials/header.html" %}
	    </header>
	    <div class="bar_atas">
		    <content>
			    	{% block content %}
			                <!-- content goes here -->
					{% endblock %}
			</content>
		</div>
		<footer>
			{% block footer %}
				{%include "dashboard/partials/footer.html" %}
			{% endblock %}
		</footer>
	</body>
</html>
