	.navbar-yumna{
		background-color: rgb(207, 209, 211);
	}
	body{
		color: black;
		background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/abstract-geometric-background-white-mat-cubes-moving-loopable_4kbcmfxml__F0000.png);
		height: 100%;
		min-height: 100%;
	}
	.profile_pict{
		border-radius: 20%;
		height: 200px;
		width: 200px;
	}	
	.information{
		margin-left: 42%;
		margin-top: 20px;
	}
	.name{
		text-align: center;
		padding-top: 20px;
	}
	.friend_and_post h3{
		text-align: center;
	}
	footer{
		background-color: black;
		color:white;
		width: 100%;
		text-align: center;
	  	clear: both;
    	position: relative;
    	z-index: 10;
    	margin-top: -3em;
	}
	h4{
		color: blue;
	}