{% extends "dashboard/layout/base.html" %}

{% block title %}

LingIn App by KamiBahagia Group

{% endblock %}

{% block content %}
<div class="information">
	<img class = "profile_pict" src="https://cdn.pixabay.com/photo/2013/09/01/14/06/horse-178093_960_720.jpg">
</div>
<h1 class="name">{{nama}}</h1>
<div class="friend_and_post">
	<h3>{{total_teman}} Friends | Feeds {{jumlah_post}}</h3>
</div>
<hr class="theLine"style="border-color: black;">
<div class="latest_feed">
	<div class="latest-post">
		<h4>Latest Post</h4>
	</div>
	<br>
	<div class="col-lg-18 post">
		<div class="col-lg-2">
			<img class = "profile_pict_kecil" src="https://cdn.pixabay.com/photo/2013/09/01/14/06/horse-178093_960_720.jpg">
		</div>
		<div class="col-lg-10">
			<h3>Yumna says</h3>
			<h4>{{status}}</h4>
			<h5>{{tanggal_status}}</h5>
		</div>
	</div>
</div>
{% endblock %}
