{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	  <title>LingIn App by KamiBahagia Group</title>
	</head>
	<body>
	    <header>
	        {% include "partials/header.html" %}
	    </header>
	    <content>
			{% block content %}
	                <!-- content goes here -->
			{% endblock %}
	    </content>
		<footer>
			{% block footer %}
				{%include "partials/footer.html" %}
			{% endblock %}
		</footer>
	</body>
</html>
