{% extends "dashboard/layout/base.html" %}

{% block title %} Status {% endblock %}

{% block content %}

<hr/>
<section name="form">
    <h2>Update Status kamu</h2>
    <form id="form" method="POST" action="{% url 'update-status:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Post</button>
    </form>
</section>
<hr/>

<div class="latest-post">
    <h4>Timeline</h4>
    <hr style="border-color: black;width: 100%;">
	<br>
	{% for i in message reversed %}
	<div class="col-lg-8 post">
		<div class="col-lg-2">
            <img class = "profile_pict_kecil" src="https://cdn.pixabay.com/photo/2013/09/01/14/06/horse-178093_960_720.jpg">
            <h4>{{i.message}}</h4> 
		</div>
		<div class="col-lg-6">
            <h3>Yumna Pratista Tastaftian</h3>
            <h6>{{i.created_date.date}} {{i.created_date.time}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
